<h1>Evento</h1>
<%= flash[:notice] if flash[:notice]%>

<h2><%= @event.name%></h2>
<br>
<p><%= @event.discription%></p>
<%if @rsvp%>
<%= form_tag(event_rsvp_path(@event,@rsvp),method: "DELETE") do |f|%>
        <%= submit_tag "Rescind RSVP"%>
        <%end%>
<% else %>
 <%= form_tag(event_rsvps_path(@event),method: "POST") do |f|%>
        <%= submit_tag "RSVP to event"%>
    <%end%>
    
<%end%>
<%= link_to "Events", events_path %>